body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #2f3542;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.form-box {
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;
}